    <% let title = "template engine" %>
    <%= title %>

    <br>
    <%= caption %>

    <table>
        <tr>
            <th>NPM</th>
        </tr>

        <% data.array.forEach(element => ) %>
    </table>
    
